.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    margin-top: 80px;
}

.map-frame {
    height: 100%;
}

#map {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 4px lightgray;
    padding: 5px;
}