<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Carsharing Nutzung in Personen</h5>
            </div>
            <div class="card-body ">
                <canvas id=chartHours width="400" height="100"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-copyright"></i> Source: Carsharing Südtirol
                </div>
            </div>
        </div>
    </div>
</div>
